---
import type { Params, Projects } from "../../pages/[...slug].astro"
import Project from "./Project.astro"

type Props = {
  projects: Projects
}

const { projects } = Astro.props

const { slug: language } = Astro.params as Params

let introduction = language === "en" ? "Projects" : "Proyectos"
---

<main class="max-w-3xl w-full mx-auto">
  <h2 class="text-2xl font-bold mt-7 text-base-content text-center sm:text-left max-w-3xl mx-auto">
    {introduction}
  </h2>
  <ul class="mt-4 sm:mx-0 space-y-6 relative">
    {projects?.map((project) => <Project {...project} />)}
  </ul>
</main>

<script>

</script>