---
import Project from "./Project.astro"
import { getCollection } from "astro:content"

const projects = await getCollection("projects")
---
<main>
  <h2 class="text-2xl font-bold mt-7 text-neutral text-center sm:text-left">Things I've built</h2>
  <ul class="mt-4 space-y-6">
    {
      projects?.map((project) => {
        const { title, link, technologies, cover, coverAlt } = project.data
        return (
          <Project
            title={title}
            link={link}
            technologies={technologies.split(",")}
            body={project.body}
            cover={cover as ImageMetadata}
            coverAlt={coverAlt}
          />
        )
      })
    }
  </ul>
</main>
