---
import { Image } from "astro:assets"
import type { Projects } from "../../pages/[...slug].astro"

type Props = Projects[number]
const props = Astro.props
const { Content } = await props.render();
---

<li
  class="project-ccard jos shadow relative w-full border dark:border-gray-800 border-gray-300 rounded cursor-pointer hover:border-accent/50 dark:hover:border-accent/50 transition-colors duration-300 transform-gpu group overflow-hidden"
>
  <a
    href={props.data.link}
    class="flex flex-col-reverse sm:flex-row sm:space-x-5 select-text"
    target="_blank"
    draggable="false"
  >
    <section class="flex w-full p-6 flex-col h-full justify-between">
      <div>
        <h3
          class="text-base-content inline-block transition-colors duration-300 group-hover:text-accent font-semibold uppercase text-xl project-title"
        >
          {props.data.title}
        </h3>
        <div
          class="text-base-content/90 dark:text-base-content/70 font-medium mt-2 leading-relaxed"
        >
          <Content />
        </div>
      </div>
      <div class="mt-5 flex flex-wrap font-medium gap-2">
        {
          props.data.technologies.split(",").map((technology) => {
            return (
              <span class="badge badge-primary transition-colors duration-300 badge-outline group-hover:text-accent group-hover:font-medium group-focus:text-primary">
                {technology}
              </span>
            )
          })
        }
      </div>
    </section>
    <Image
      class="w-full  sm:max-w-[18rem] object-cover rounded-r-md"
      src={props.data.cover as ImageMetadata}
      alt={props.data.coverAlt}
      format="avif"
      width={700}
      height={700}
    />
  </a>
</li>