@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme="catppuccin-mocha"] {
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
}

body,
a {
  font-family: "Hanken Grotesk", Arial, sans-serif;
}
