@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme="catppuccin-mocha"] {
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

body {
  margin: auto;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  @apply bg-gradient-to-b from-primary/5 via-base-200 to-base-300;
  
}
