@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme="sunset"] {
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

html {
  scrollbar-gutter: stable;
}

body {
  margin: auto;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  font-family: "Hanken Grotesk", "Helvetica Neue", sans-serif;
  @apply bg-base-200;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset-inline-end: 0;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 100%;
  filter: blur(3.25rem);
  opacity: 0.23;
  transition: all ease 300ms;
}
