---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts"
import BaseHead from "./BaseHead.astro"
import DaisySetup from "./DaisySetup.astro"
import "../../styles/global.css"

type Props = {
  lang: "en" | "es"
}

const { lang } = Astro.props
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <DaisySetup />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="min-h-screen w-full">
    <div class="px-5 py-8 h-full">
      <slot />
    </div>
  </body>
</html>
