---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import BaseHead from "./BaseHead.astro";
import DaisySetup from "./DaisySetup.astro";
---
<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <DaisySetup />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="custom-bg min-h-screen bg-gradient-to-b from-base-300 via-base-200 to-base-300 bg-base-300 w-full">
    <div class="max-w-3xl px-3 py-8 w-full mx-auto">
      <slot />
    </div>  
  </body>
</html>
