---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts"
import BaseHead from "./BaseHead.astro"
import DaisySetup from "./DaisySetup.astro"
import "@fontsource/hanken-grotesk/400.css"
import "@fontsource/hanken-grotesk/600.css"
import "@fontsource/hanken-grotesk/700.css"
import "../../styles/global.css"

---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <DaisySetup />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="custom-bg min-h-screen bg-gradient-to-b from-primary/5 via-base-200 to-base-300 w-full"
  >
    <div class="max-w-3xl px-5 py-8 w-full mx-auto">
      <slot />
    </div>
  </body>
</html>
