---
import AboutMe from "../components/AboutMe.astro";
import Header from "../components/Header.astro";
import Layout from "../components/Layout.astro";
import Projects from "../components/Projects.astro";
---
<Layout>
  <Header />
  <main>
    <h1 class="font-bold text-3xl mt-7">Hi, I'm César</h1>
    <AboutMe />
    <Projects />
  </main>
</Layout>
