---
import type { Params } from "../../pages/[...slug].astro"
import NavbarLink from "./NavbarLink.astro"

type Link = {
  href: string
  label: string
  isExternal?: boolean
}

type Links = {
  [key: string]: Link[]
}

const linksByLanguage: Links = {
  en: [
    {
      href: "/",
      label: "Home",
    },
    {
      href: "mailto:cesarfunes2807@gmail.com",
      label: "Mail",
    },
    {
      href: "https://www.linkedin.com/in/c%C3%A9sar-funes-avila-188916210/",
      label: "LinkedIn",
      isExternal: true,
    },
    {
      href: "https://github.com/Glasc",
      label: "GitHub",
      isExternal: true,
    },
  ],
  es: [
    {
      href: "/",
      label: "Inicio",
    },
    {
      href: "mailto:cesarfunes2807@gmail.com",
      label: "Correo",
    },
    {
      href: "https://www.linkedin.com/in/c%C3%A9sar-funes-avila-188916210/",
      label: "LinkedIn",
      isExternal: true,
    },
    {
      href: "https://github.com/Glasc",
      label: "GitHub",
      isExternal: true,
    },
  ],
}

const { slug } = Astro.params as Params

const links = linksByLanguage[slug]
---

<nav class="flex justify-between items-center">
  <nav class="mt-2 flex space-x-3">
    {links.map((link) => <NavbarLink {...link}>{link.label}</NavbarLink>)}
  </nav>
</nav>
