<div class="space-y-5 mt-3">
  <p>
    I'm a 17 y/o self-taught developer and I like to build cool stuff. I'm
    interested in language design, web development and I live on the
    terminal.
  </p>
  <p>
    I'm currently in 12th grade, busy studying for final exams. In my free
    time I like to write blogs and practice cardistry. I also like
    listening to music and going on cycling trips with friends.
  </p>
</div>