---
---
<section class="space-y-5 mt-3 text-base-content/90 text-justify">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatum
    dolore, obcaecati ipsam nemo ad, provident dignissimos debitis odio eveniet
    quidem. Explicabo quas aliquam et porro quis nemo eveniet laboriosam!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis odio
    voluptate eum maxime quam reprehenderit velit neque at laboriosam,
    necessitatibus repudiandae earum odit in explicabo suscipit, sint
    cupiditate? Voluptatibus, quia!
  </p>
</section>
