---
import HeaderLink from "./HeaderLink.astro"
import { SITE_TITLE } from "../consts"
import { Icon } from "astro-icon"
import Toggler from "./Toggler.astro";
---

<header>
  <h2 class="text-xl font-semibold">
    {SITE_TITLE}
  </h2>
  <div class="flex justify-between items-center">
    <nav class="mt-2 flex space-x-3">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink
        href="https://www.linkedin.com/in/c%C3%A9sar-funes-avila-188916210/"
        target="_blank"
        isExternal={true}
      >
        LinkedIn
      </HeaderLink>

      <HeaderLink
        href="https://github.com/Glasc"
        target="_blank"
        isExternal={true}
      >
        GitHub
      </HeaderLink>
    </nav>

    <Toggler />
  </div>
</header>
