---
import { getEntryBySlug } from "astro:content"
import type { Language } from "../pages/[languageParam].astro"

const entriesByLanguage = {
  en: {
    collection: "introducing",
    slug: "introducing",
  },
  es: {
    collection: "introducing-spanish",
    slug: "introducing",
  },
} as const

const languageParam = Astro.params.languageParam as Language
const { collection, slug } = entriesByLanguage[languageParam]

const introducing = await getEntryBySlug(collection, slug)
const { Content } = await introducing.render()


const greetingByLanguage = {
  es: "Hola, soy César",
  en: "Hi, I'm César",
}

const greeting = greetingByLanguage[languageParam]
---

<header class="text-lg text-justify text-base-content/90">
  <h1 class="font-bold text-2xl sm:text-4xl text-neutral lg:text-5xl mt-7 mb-2">
    {greeting}
  </h1>
  <Content />
</header>
