---
import { Image } from "@astrojs/image/components"
import avatar from "../assets/avatar-cut.png"
import { SITE_TITLE } from "../consts"
import NavbarLink from "./NavbarLink.astro"
import { Toggler } from "./Toggler"

type Link = {
  href: string
  label: string
  isExternal?: boolean
}

const links: Link[] = [
  {
    href: "/",
    label: "Home",
  },
  {
    href: "mailto:cesarfunes2807@gmail.com",
    label: "Mail",
    isExternal: true,
  },
  {
    href: "https://www.linkedin.com/in/c%C3%A9sar-funes-avila-188916210/",
    label: "LinkedIn",
    isExternal: true,
  },
  {
    href: "https://github.com/Glasc",
    label: "GitHub",
    isExternal: true,
  },
]
---

<header>
  <!-- avatar and title -->
  <section class="flex items-center space-x-3">
    <Image
      src={avatar}
      alt="My notion avatar"
      width={45}
      height={45}
      format="webp"
    />
    <h2 class="text-xl font-semibold">
      {SITE_TITLE}
    </h2>
  </section>

  <!-- navbar with links and dark | light mode toggler -->
  <nav class="flex justify-between items-center">
    <nav class="mt-2 flex space-x-3">
      {links.map((link) => <NavbarLink {...link}>{link.label}</NavbarLink>)}
    </nav>

    <Toggler client:idle />
  </nav>
</header>
