---
import type { Introducing, Params } from "../pages/[...slug].astro"

type Props = {
  introducing: Introducing
}

const { introducing } = Astro.props

const { Content } = await introducing.render()

const { slug: language } = Astro.params as Params

const greetingByLanguage = {
  es: "Hola, soy César",
  en: "Hi, I'm César",
}

const greeting = greetingByLanguage[language]
---

<header class="text-lg text-justify text-base-content/90">
  <h1 class="font-bold text-2xl sm:text-4xl text-neutral lg:text-5xl mt-7 mb-2">
    {greeting}
  </h1>
  <Content />
</header>
