---
import Image from "astro/components/Image.astro"
import avatar from "../assets/avatar-cut.png"
import { SITE_TITLE } from "../consts"
import { Toggler } from "./Toggler";
---

<section class="flex justify-between items-center">
  <div class="flex space-x-3 items-center">
    <Image
      class="h-14 w-14"
      src={avatar}
      alt="My as a notion avatar"
      width={70}
      height={70}
      quality="high"
    />
    <h2 class="text-xl font-semibold">
      {SITE_TITLE}
    </h2>
  </div>

  <Toggler client:load />
</section>
