---
import Icon from "astro-icon"
type Props = {
  name: string
  title?: string
  className?: string
}
const { name, title, className } = Astro.props
---

<div class="flex flex-wrap items-center flex-col">
  <Icon
    class={`inline-block shadow p-2 sm:p-3 rounded-md ${className}`}
    title={title}
    name={name}
    size={50}
  />
  <span class="text-center mt-1 font-medium">
    {title}
  </span>
</div>
